---
imap_mailboxes:
  main:
    server: "imap.gmail.com"
    port: 993
    username: "lindsay@stackstorm.com"
    password: "super_S3c4e3t!"
    ssl: true
    download_attachments: True
max_attachment_size: 1024
attachment_datastore_ttl: 1800
smtp_listen_ip: '127.0.0.1'
smtp_listen_port: 25
