---
smtp_accounts:
  - name: gmail
    password: "my_secret"
    port: 465
    secure: true
    server: "smtp.gmail.com"
    smtp_auth: true
    username: "example@gmail.com"
imap_accounts:
  - name: main
    download_attachments: true
    folder: "INBOX"
    password: "super_S3c4e3t!"
    port: 993
    secure: true
    server: "imap.gmail.com"
    username: "lindsay@stackstorm.com"
max_attachment_size: 1024
attachment_datastore_ttl: 1800
sensor_smtp_listen_ip: '127.0.0.1'
sensor_smtp_listen_port: 25
